<!-- Customer Review Starts-->
<div class="container">
    <div class="d-flex justify-content-center mb-3 mt-3">
        <h1>Our Customer Say</h1>
    </div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active h-auto">
                <div class="row justify-content-around">
                    <div class="col-md-5 d-flex flex-column align-items-center border">
                        <div class="review_image my-3"></div>
                        <h4>Tasty Peanut Butter</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam asperiores eaque explicabo
                            labore numquam saepe qui eligendi perspiciatis porro voluptatem?</p>
                        <h5>Sharath Bhardwaj</h5>
                    </div>
                    <div class="col-md-5 d-flex flex-column align-items-center border">
                        <div class="review_image my-3"></div>
                        <h4>Tasty Peanut Butter</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam asperiores eaque explicabo
                            labore numquam saepe qui eligendi perspiciatis porro voluptatem?</p>
                        <h5>Sharath Bhardwaj</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Customer Review Ends-->